.container{
  border:2px solid black;
  display:grid;
  /* grid-template-columns:100px 200px;
  grid-template-rows:100px 100px 100px;  */
   /* grid-template-areas:"nav nav nav"
                     "article  main side"
                     "footer footer footer"; */

  /* grid-template-columns:1fr 2fr 1fr; */
  grid-template-columns:repeat(4,1fr);
  /* gap:10px; */
  row-gap:20px;
  column-gap:5px;
  justify-items:center;
  align-items:center;
}
.item{
  border:2px solid red;
  height:40px;
  width:40px;
}
/* .c{
  grid-column:2/3;
  grid-row:2/4;
}

.a{
  grid-column:2/3;
  grid-row:3/4;
} */