h1{
  font-size:20px;
  background-color:yellow;
  border:2px solid black;
}


/* @media (min-width:300px) {
  h1 {
    font-size:30px;
    background-color:rgb(32, 222, 29);
  }
} */
 
@media (max-width:300px) {
  h1 {
    font-size:10px;
    background-color:rgb(32, 222, 29);
  }
}