/* .box-shadow {
  height:100px;
  width:160px;
  border:2px solid black;
  background-color:chartreuse;
  box-shadow:10px 10px 5px red;
} */

/* .bg-image {
  height:500px;
  width:860px;
  border:2px solid black;
  background-color:chartreuse;
  background-image:url(Screenshot\ 2025-09-12\ 220329.png);
   background-size:cover; 
   background-size:contain; 
} */

button{
  background-color:blue;
  color:white;
  padding:10px 20px;
  border:none;
  border-radius:5px;
  box-shadow:2px 2px 5px grey;
}
/* button:hover{
  background-color:darkblue;
  cursor:pointer;
  box-shadow:4px 4px 10px grey;
} */

.b{
  font-size:10px;
  font-weight:normal;
}
.b:active{
  font-size:12px;
  font-weight:bold;
  cursor:pointer;
}

/* .box-one{
  height:100px;
  width:100px;
  background-color:red;
  text-align: center;
  border:1px solid black;
  position:relative;
  z-index:-1;
}
.box-two{
  height:100px;
  width:100px;
  background-color:rgb(20, 205, 42);
  border:1px solid black;
  text-align: center;
  position:relative;
  bottom:40px;
  left:30px;
   z-index:2;
}
.box-three{
  height:100px;
  width:100px;
  background-color:rgb(27, 80, 214);
  border:1px solid black;
  text-align: center;
} */

.parent {
  height:200px;
  width:200px;
  background-color:rgb(235, 13, 13);
  color:white;
  margin:auto;
  font-size:10px;
 
}
.em-child {
  height:100px;
  width:100px;
  background-color:rgb(106, 235, 13);
  color:white;
  font-size:2em;
  padding:1em;
  
}

/* .rem-child {
  height:100px;
  width:100px;
  background-color:rgb(13, 98, 235);
  color:white;
} */

.overflow-container{
  height:100px;
  width:200px;
  border:2px solid black;
  /* overflow:hidden; */
  overflow:auto;
  overflow:scroll;

}